@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&family=Roboto+Slab:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');
/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 67.5%;
}
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

.body-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

.grid-container {
    max-width: 980px;
    margin: auto;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    color: white;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container {
    margin-left: 50px;
}
nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 1.5rem;
}
.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('../assets/img/Cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}
.home-main-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 10px;
    color: white;
    text-align: center;
}
.home-main-button {
    width: 110px;
    height: 50px;
    background-color: #47cfac;
    display: grid;
    align-items: center;
    border: none;
}
.home-main-button a {
    font-weight: 700;
    font-size: 1.8rem;
}

.blogs-main {
    display: grid;
}

.blogs-news-container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}

.blogs-main-news {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-main-news h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px 0;
}

.blogs-news-img-container {
    grid-column: 1;
}
.blogs-news-img-container img {
    width: 85%;
}
.blogs-news-info-container {
    grid-column: 2;
}

.blogs-news-info-container h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 15px 0;
}

.blogs-news-info-container p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 35px;
}

.blogs-button {
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #47cfac;
    padding: 10px 15px;
}
.blogs-button:hover {
    background-color: #47cfac;
    color: white;   
}

.blogs-posts-container {
    padding: 0 50px 40px;
    text-align: center;
}

.blogs-posts-container h3 {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid #cdd2da;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
}

.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
    text-align: left;
}
.blogs-posts-container .post-container p {
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-weight: 500;
}
.blogs-posts-container .post-container img {
    width: 100%;
}

.blog-main-image-container {
    max-width: 1200px;
    margin: auto;
    padding: 10px 50px;
}

.blog-main-image-container img {
    width: 100%;
    margin: auto;
}

.blog-main-content-container {
    width: 100%;
    padding: 10px 30px;
}

.blog-main-content-category h3 {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid #cdd2da;
    padding: 15px 0;
    text-align: left;
    margin-bottom: 20px;
}

.blog-main-article h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 25px 0;
}

.blog-main-article p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.contact-container {
    background-color: #e6e9ed;
    width: 100%;
    padding: 60px 0 100px;
}

.contact-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-grid img {
    width: 100px;
}

.contact-grid article {
    max-width: 40%;
    display: grid;
    grid-template-areas: "img title"
                         "img text";
}

.contact-grid article img {
    grid-area: img;
    margin-right: 10px;
}

.contact-grid article a {
    grid-area: title;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin: 15px 0 5px;
    
}

.contact-grid article p {
    grid-area: text;
}

.profile-main-container {
    background-color: #e6e9ed;
    padding: 50px 40px;
}

.profile-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr;
    align-items: center;
}

.profile-img-container {
    grid-column: 1;
}
.profile-img-container img {
    width: 85%;
}
.profile-info-container {
    grid-column: 2;
}

.profile-info-container h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 15px 0;
}

.profile-info-container p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 35px;
}

.profile-projects-container {
    padding: 0 50px 40px;
    text-align: center;
}

.profile-projects-container h3 {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid #cdd2da;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 30px;
}

.profile-projects-container .project-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
    text-align: left;
    vertical-align: top;
}
.profile-projects-container .project-container h4 {
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-weight: 700;
}

.profile-projects-container .project-container p {
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-weight: 500;
}
.profile-projects-container .project-container img {
    width: 100%;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: #47cfac solid 35px;
    color: white;
}
footer p {
    text-align: center;
    margin-top: 20px;
}